<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/upload"><span class="glyphicons glyphicons-upload"></span> Create new Link</a>
      </li>
      <!--<li>
        <a href="/db"><span class="glyphicons glyphicons-link"></span> All links</a>
      </li>-->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://github.com/faizaanceg/u-r-l-s"><span class="glyphicon glyphicon-git-branch"></span> Fork on GitHub</a>
      </li>
    </ul>
  </div>
</nav>