<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h2>Link not found!</h2>
    <br/>
      This link hasn't been created so far. You can generate it <a href="/upload">here</a>.
  </div>
</div>
</body>
</html>